# Node modules
node_modules/
APIs/uploads/


# Environment variables
.env

# Build files
build/
dist/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs / Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
